<h2>Bon Appetizers Catering Services</h2>

<p> You have found your catering team for all occasions! Our website is designed to assist those who are planning any kind of event! Within, there is a wealth of information to help you plan your festive affair.
Our Event Design Team can assist you with every aspect of your event to ensure it is a smashing success.
We take care of all the details, from preparation to clean up. Our prices are disclosed up front in your event contract, and we do not impose hidden charges. Our team of highly qualified professionals will make any event a pleasure. From weddings to cocktail parties, or anything in between, Bon Appetizers is your best choice.
Our food reflects our commitment to exceptional quality. All meals are prepared under the guidance of one of our most renowned chefs and our menu items are prepared with a passion for perfection.

<%= link_to "A List of Availible Services", "products#home" %>
</p>
<!-- This is a breakthrough as it allows me to specify very specific page routes from the products_controller. -->
<!-- <%= link_to "Home", "/products/1" %> -->
<!-- This allows me to specify implicitly the url path -->
