<h1>You have reached the home page.</h1>


<%= link_to "A List of Availible Services", "products#home" %>
<!-- This is a breakthrough as it allows me to specify very specific page routes from the products_controller. -->
<!-- <%= link_to "Home", "/products/1" %> -->
<!-- This allows me to specify implicitly the url path -->
