<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>



<hr>


<% if @user && @user.admin %>
  <%= link_to "New Product", new_product_path %>
<% end %>

<%= link_to "Home", "/" %>
